.heading {
    text-align: center;
}
.btn-arrow {
    margin-top: 40px;
    margin-left: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
}

.btn-arrow:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.btn-arrow:hover:after {
    opacity: 1;
    right: 10px;
}

.btn-arrow:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 10px;
    line-height: 30px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.hover-1 {
    background-color: #ff6392
}

.hover-2 {
    background-color: #3d348b
}

.hover-3 {
    background-color: #3a86ff
}

.hover-4 {
    background-color: #ef233c
}

.hover-5 {
    background-color: #80ed99
}
.hover-6{
    background-color: #ffe566
}
.hover-7{
    background-color: #ced4da
}
.hover-8{
    background-color: #6c757d
}
.hover-9{
    background-color: #343a40
}