.text-heading{
  text-align: center;
}
.btn-type-3d {
    margin-top: 50px;
    margin-left: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
}
  .btn-1:active {
    box-shadow: 0 0 #ff0a78;
    top: 5px;
  }
  .btn-1:hover {
    box-shadow: 0 3px #ff0a78;
    top: 1px;
  }

  .btn-1
  {
    background: #ff6392;
    box-shadow: 0 5px #ff0a78;
  
  }
   /* .btn-2{
   background: #3d348b;
  box-shadow: 0 5px #2c0b8e;

   }
   .btn-2:hover {
    box-shadow: 0 3px #2c0b8e;
    top: 1px;
  }
  .btn-2:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
  } */

  .btn-2{
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}  

.btn-2:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.btn-2:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}
.btn-3{
  background: #1455bd;
  box-shadow: 0 5px #4433ff;
}  

.btn-3:hover {
  box-shadow: 0 3px #210478;
  top: 1px;
}
.btn-3:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}
.btn-4{
  background: #ef233c;
  box-shadow: 0 5px #ef233c;; 
}
.btn-4:hover {
  box-shadow: 0 3px #ef233c;
  top: 1px;
}
.btn-4:active {
  box-shadow: 0 0 #ef233c;
  top: 5px;
}
.btn-5{
  background: #80ed99;
  box-shadow: 0 5px #80ed99; 
}
.btn-5{
  box-shadow: 0 5px  #57cc99;
  top: 1px;
}
.btn-5:active {
  box-shadow: 0 0 #80ed99;
  top: 5px;
}
.btn-6{
  background: #ffe566;
  box-shadow: 0 5px #ffd819; 
}
.btn-6:hover {
  box-shadow: 0 3px #ffd819 ;
  top: 1px;
}
btn-6:active {
  box-shadow: 0 0 #fcf938;
  top: 5px;
}
.btn-7{
  background: #343a40;
  box-shadow: 0 5px #212;
}
.btn-7:active{
  box-shadow: 0 0 #212529;
  top: 5px;
}
.btn-7:hover {
  box-shadow: 0 3px #212529;
  top: 1px;
}
.btn-8{
  background: #6c757d;
    box-shadow: 0 5px #495057;
}
.btn-8:hover{
  box-shadow: 0 3px #495057;
  top: 1px;
}
.btn-8:active{
  box-shadow: 0 0 #383837;
  top: 5px;
}
.btn-9{
  background: #F97B22;
  box-shadow: 0 5px #fa8b3b;
}
.btn-9:hover{
  box-shadow: 0 3px #f49405;
  top: 1px;
}
.btn-9:active{
  box-shadow: 0 0 #f6800a;
  top: 5px;
}