.heading {
  text-align: center;
  margin-top: 40px;
}

.btn-gradient {
  margin-left: 20px;
  margin-top: 50px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}

.button-1:hover {
  background-position: right center;
}

.button-1:active {
  top: 2px;
}

.button-2 {
  background-image: linear-gradient(315deg, #bdc3c7 0%, #2c3e50 75%);
}

.button-2:hover {
  background-position: right center;
}

.button-2:active {
  top: 2px;
}

.button-3 {
  background-image: linear-gradient(315deg, #f8b500 0%, #fceabb 75%);
}

.button-3:hover {
  background-position: right center;
}

.button-3:active {
  top: 2px;
}

.button-4 {
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}

.button-4:hover {
  background-position: right center;
}

.button-4:active {
  top: 2px;
}

.button-5 {
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}

.button-5:active {
  background-position: right center;
}

.button-5:hover {
  top: 2px;
}

.button-6 {
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 75%);
}

.button-6:hover {
  background-position: right center;
}

.button-6:active {
  top: 2px;
}

.button-7 {
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}

.button-7:hover {
  background-position: right center;
}

.button-7:active {
  top: 2px;
}

.button-8 {
  background-image: linear-gradient(315deg, #7b4397 0%, #dc2430 75%);
}

.button-8:hover {
  background-position: right center;
}

.button-8:active {
  top: 2px;
}

.button-9 {
  background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}

.button-9:hover {
  top: 2px;
}
.button-9:active{
  top: 2px;
}