.btn-shadow-border{
  margin-top: 40px;
  margin-left: 20px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
 z-index: 1;
}
.btn-shadow-border:hover:after {
  width: 100%;
  left: 0;
}
.btn-shadow-border:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
  right: 0px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}
.btn-shadow-border:active {
  top: 2px;
}
.css-b1{
  background: #ff0a78; 
}
.css-b1::after{
  background-color: #ff6392;
}
.css-b2{
  background: #2c0b8e;
}
.css-b2::after{
  background: #2c0b8e;
}
.css-b3{
  background: #43f;
}
.css-b4::after{
  background-color: #ef233c;
}
.css-b4{
  background: #d90429;
}
.css-b5::after{
  background-color: #80ed99;
}
.css-b5{
  background-color: #80ed99;
}
.css-b6::after{
  background-color: #ffe566;
}
.css-b6{
  background: #ffd819;
}
.css-b7::after{
  background-color: #ced4da;
}
.css-b7{
  background: #adb5bd;
}
.css-b8::after{
  background-color: #6c757d;
}
.css-b8{
  background: #495057;
}
.css-b9::after{
  background-color: #343a40;
}
.css-b9{
  background: #212529;
}