.heading{
  text-align: center;
}

.btn-sliding {
    margin-top: 40px;
    margin-left: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    /* border: 2px solid #ff0a78;
    color: #ff0a78; */
  }
  .btn-sliding:hover {
    color: #fff;
  }
  .btn-sliding:hover:after {
    width: 100%;
  }
  .btn-sliding:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
  }
  .bs-1{
    border: 2px solid #ff0a78;
    color: #ff0a78;
  }
  .bs-1::after{
    background: #ff0a78;
  }
  .bs-2{
    border: 2px solid #2c0b8e;
    color: #2c0b8e;
  }
  .bs-2::after{
    background: #2c0b8e;
  }
  .bs-3{
    border: 2px solid #4433ff;
    color: #4433ff;
  }
  .bs-3::after{
    background: #4433ff;
  }
  .bs-4{
    border: 2px solid #d90429;
  color: #d90429;
  }
  .bs-4::after{
    background: #d90429;
  }
  .bs-5{
    border: 2px solid #57cc99;
    color: #57cc99;
  }
  .bs-5::after{
    background: #57cc99;
  }
  .bs-6{
    border: 2px solid #ffd819;
    color: #ffd819;
  }
  .bs-6::after{
    background: #ffd819;
  }

  .bs-7{
    border: 2px solid #adb5bd;
    color: #adb5bd;
  }
  .bs-7::after{
    background: #adb5bd;
  }
  .bs-8{
    border: 2px solid #495057;
    color: #495057;
  }
  .bs-8::after{
    background: #495057;
  }
  .bs-9{
    border: 2px solid #212529;
    color: #212529;
  }
  .bs-9::after{
    background: #212529;
  }