.heading{
  text-align: center;
}

.transition {
    margin-left: 20px;
margin-top: 40px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }
  .btn1{
    border: 2px solid #ff0a78;
    background-color: #ff0a78;
  }
  .btn1:hover {
    background: #fff;
    color: #ff0a78;
  }
  .btn2{
    background: #2c0b8e;

  }
  .btn2:hover{
    background: #fff;
    color: #2c0b8e
  }
  .btn3{
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .btn3:hover{
  background: #fff;
  color: #4433ff
  }
  .btn4{
    border: 2px solid #d90429;
    background: #d90429;
  }
  .btn4:hover{
    background: #fff;
  color: #d90429
}
.btn5{
  border: 2px solid #57cc99;
  background: #57cc99;
}
.btn5:hover{
  background: #fff;
  color: #57cc99;
}
.btn6{
  border: 2px solid #ffd819;
  background: #ffd819;
}
.btn6:hover{
  background: #fff;
  color: #ffd819;
}
.btn7{
  border: 2px solid #adb5bd;
  background: #adb5bd;
}
.btn7:hover{
  background: #fff;
  color: #adb5bd;
}
.btn8{
  border: 2px solid #495057;
  background: #495057;
}
.btn8:hover{
  background: #fff;
  color: #495057
}
.btn9{
  border: 2px solid #212529;
  background: #212529;
}
.btn9:hover{
  background: #fff;
  color: #212529
}