
.main-container-img {
    /* background-image: url(../../images/color-img.jpg); */
    background-image: url(https://cdn.pixabay.com/photo/2018/01/17/15/33/streamer-3088458_1280.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.project-heading{
    padding-top: 150px;
    color:white;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.description{
    color:white;
    font-size: 50px;
}

.main-btn{
    padding: 100px;
    display: block;
    margin: 0 auto;
    background-color: black;
    color:white;

}
.fancy-btn{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
}

