.main-container-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(https://img.freepik.com/free-photo/elevated-view-multicolored-wax-crayons-brown-plank_23-2148050721.jpg?size=626&ext=jpg&ga=GA1.1.526965354.1690195631&semt=ais);
    background-size: contain;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
}

.home-page-img {
    height: 200px;
    display: block;
    margin: 0 auto;
}

.logo-img-grp {
    margin-top: 100px;
}

.rtc-heading {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.project-heading {
    padding-top: 100px;
    color: white;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}

.description {
    color: white;
    font-size: 40px;
}

.main-btn {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.fancy-btn {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
}

@media screen and (max-width: 605px) {
    .main-container-img {
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        height: 100vh;
        width: 100%;
    }

    .logo-img-grp {
        margin-top: 50px;
    }

    .home-page-img {
        height: 140px;
        display: block;
        margin: 0 auto;

    }

    .project-heading {
        padding-top: 23px;
        font-size: 50px;
    }

    .second-container {
        margin-bottom: 100px;
    }

    .description {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .fancy-btn {
        padding-left: 30px;
        padding-right: 30px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .main-container-img {
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        height: 100vh;
        width: 100%;
    }

}